<ion-view view-title="Dashboard" ng-init="init()">
  <ion-content class="padding">
  
    <form ng-submit="savePost(postText)">
      
        <div class=" input-div flex-general-row-wrapper">
          <div style="margin-top:6.3px;">
            <i class="icon ion-ios-arrow-forward placeholder-icon flex-equal-ratio-items"></i>
          </div> 
          
          <input  class="postInput" type="text" placeholder="Your Post" ng-model="postText">
          <button class="postBtn" type="submit"/>

        </div>
         
    
    </form>
   
    <div class="list card" ng-repeat="post in posts">
      <div class="item item-divider">{{post.createdAt}}</div>
      <div class="item item-body">
        <div id="check">
          {{post.get('text')}}
        </div>
      </div>
    </div> 

    
  </ion-content>
</ion-view>
